<header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Weather App</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Weather</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/help">Help</a>
      </nav>
    </div>
  </header>